#about-img {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.about {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cName {
    background-image: linear-gradient(red, rgb(216, 243, 97));
    color: transparent;
    background-clip: text;
}

h1 {
    font-size: 50px;
}

.logos-img {
    height: 120px;
    width: 120px;
    transition: transform 0.5s;
}

.logos-img:hover {
    transform: scale(1.3);
}

#skillBox {
    min-height: 250px;
    padding: 10px;
}


@media (max-width: 991px) {
    #about-img {
        max-width: 80%;
        margin: 20px auto;
    }

    .about .row {
        flex-direction: column;
        text-align: center;
    }

    .about .col-md-6 {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 36px;
    }

    .logos-img {
        height: 80px;
        width: 80px;
    }
}