.details {
    margin: 40px;
    padding: 10px;
    text-align: left;
}

.formLabel {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control {
    background-color: rgb(44, 49, 49) !important;
    border: none !important;
    color: rgb(255, 255, 255) !important;
}

textarea {
    resize: none;
}

.submit {
    margin-top: 40px;
    height: 60px;
    width: 120px;
    background-image: linear-gradient(to right, #23b8a4, #0a8657);
}

.font-icon {
    margin-right: 10px;
}

::placeholder {
    color: #858181 !important;
    font-size: 16px;
}