.footer {
    background-color: #111;
    font-size: 0.9rem;
}

.footer a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: aqua !important;
}